.container {
    display: flex;
    align-items: flex-start;
    gap: 24px;
}

.films-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.filters {
    flex: 0 0 408px;
    padding: 24px;
    background: #fff;
    border-radius: 8px;
}

.filters-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.filter {
    margin-bottom: 16px;
}

.filter:last-child {
    margin-bottom: 0;
}

.filter-title {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 4px;
}

.films-container {
    flex: 1 1 76.7%;
}
